@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body {
  margin: 0;
  height: 5000px;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

:root {
  --dark-bg: rgba(15, 15, 15, 0.95);
  --spacing: 350px;

  font-family: 'Varela Round', sans-serif;
}

main {
  position: absolute;
  width: 100%;
  max-width: 100%;
  margin: 0px auto;
  padding: 50vh 0px;
  z-index: 99;
  color: white;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

canvas {
  position: fixed;
  width: 100%;
  max-width: 100%;
  top: 0;
  left: 0;
}

header {
  grid-column: 1 / span 12;
  padding: 2rem;
  margin-bottom: var(--spacing);
  text-align: center;
}

h1 {
  font-size: 4rem;
  line-height: 1.125;
  font-weight: 600;
}

p {
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 1.25;
}
