@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Varela+Round&display=swap');

html, body {
  height: fit-content;
  margin: 0;
}

body {
  height: 5000px;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

:root {
  --spacing: 350px;

  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

nav {
  position: sticky;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1.5rem 2rem;
  z-index: 99;
  max-width: 1280px;
  margin: auto;
}


main {
  top: 25vh;
  position: absolute;
  width: 100%;
  max-width: 100%;
  margin: 0px auto;
  z-index: 99;
  color: white;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

main > img {
  height: 25vh;
  position: absolute;
  left: calc(50% - (25vh / 2));
}

canvas {
  position: fixed;
  width: 100%;
  max-width: 100%;
  top: 0;
  left: 0;
}

main > header {
  grid-column: 2 / span 10;
  padding: 2rem;
  margin-bottom: var(--spacing);
  text-align: center;
}

h1 {
  font-family: 'Varela Round', sans-serif;
}

.logo {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 16px;
}

.logo span {
  font-family: 'Varela Round', sans-serif;
  color: white;
}

.logo img {
  margin: 0 5px;
  height: 1.5em;
}

a {
  margin: 0 5px;
  text-decoration: none;
  color: white;
  font-size: 16px;
}
